.mainflex{
    display: flex;
    margin-top: 40px;
}
.mainflexleft{
    width:15%;
}
.mainflexright{
    width: 85% ;
}
.mainflexrightadd{
    width: 500px;
    position: sticky;
}
.mainflexrightcenter{
    height: 100vh;
    overflow-y: scroll;
}
.mainflexrightcenter::-webkit-scrollbar{
    display: none;
}

.userlogohome{
    height: 40px;
    width: 45px;
    border-radius: 50%;
    position: relative;
}
.postimg{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    position: relative;
}
.profileimage{
    height: 45px;
    width: 45px;
    border-radius: 50%;
}
.homecontent{
    letter-spacing: 0.2px;
    word-spacing: 1px;
}
.downvotebtn{
    border-radius: 0px 40px 40px 0px !important;
}
.upvotebtn{
    border-radius: 40px 0px 0px 40px !important;
}

.createPostDiv{
    width: 700px;
    max-width: 700px;
    height: 500px;
    margin-left: 30px;
    margin-right: 30px;
}
.createPostDiv>div>div:last-child>p{
    transform: translateX(-20px);
}

.brdrbottom{
    border-bottom: 3px solid blue;
}

.createpostdiv{
    height: 310px;
}

.createpostdowndiv{
    height: 60px;
}
.createPostTextareaOuterDiv{
    overflow-y: hidden;
    overflow-x: hidden;
}
.createPostTextareaOuterDiv textarea,.createPostTextareaOuterDiv input{
    border: none;
    outline: none;
    box-sizing: border-box;
}

.uppercase{
    text-transform: uppercase;
}
.attachedimage{
    width: 30px !important;
    height: 30px !important;
    border-radius: 3px;
    margin-left: 10px;
}
.upvotebtncolor svg path{
fill:#2e69ff;
}
.downvotebtncolor svg path{
fill:red;
stroke: red;
}

.addquestiondowndiv{
height: 60px;
}

.addquestiondiv button{
    align-self: flex-end !important;
}
.addquestiondiv textarea{
    border: none;
    outline: none;
    box-sizing: border-box;
}

