a {
    list-style: none;
    text-decoration: none;
    color: var(--black);
}

:root {
    --orange: #F77728;
    --blue: #3366CC;
    --hoverblue: #3366cc19;
    --white: #FFFFFF;
    --black: #000000;
}

.login_main_div {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    width: 100vw !important;
    height: 100vh !important;
    background-image: url("../\(imgs\)/backgroundloginquora.png") !important;
    background-size: 100% 100% !important;
}

.login_card {
    width: 700px;
    height: 85%;
    border-radius: 3px;
    background-color: white;
}

.logincard_main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 90%;
}

.logincard_bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 3px 3px;
    width: 100%;
    height: 10%;
    font-size: 14px;
    border-top: 0.1px solid rgba(211, 211, 211, 0.362);
}

.logoiconquora svg{
    scale: 2.3;
}
.logoiconouterdiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.logincenterdiv{
    width: 100%;
}
.logincenterdiv>div{
    width: 100%;
}
.logincenterdiv>div:first-child{
    padding: 20px;
    box-sizing: border-box;
}

.logincenterdiv>p{
    height: 300px;
    border-left: 1px solid ;
}

.logincenterleftdiv>div{
    width: 95%;
}

.onlinesignin:hover{
    background-color: white !important;
    color: black;

}

.logincenterleftdiv>p:first-child{
    width: 100%;
}

.onlinesignin{
    border: 1px solid;
    height: 45px;
    padding-left: 10px;
    border-radius: 3px;
    width: 100%;
}

.onlinesignin svg{
    scale: 1.2;
}

.signupbutton{
    height: 40px;
    width: 150px;
    cursor: pointer;
}

.signupform{
    position: absolute;
    height: 450px;
    width: 680px;
    background-color: white;
    border-radius: 6px;

}

.blackscreen{
    height: 100%;
    width: 100%;
    position:absolute;
    background-color: rgba(0, 0, 0, 0.555);
}

.logincenterrightdiv>h3{
    border-bottom: 0.2px solid;
}

.logincenterrightdiv{
   box-sizing: border-box;
}

.logincenterrightdiv input{
    height: 45px;
    width: 100%;
    outline:none;
    border: 0.2px solid;
    border-radius: 3px;
}

.signupform input{
    height: 45px;
    width: 100%;
    outline:none;
    border: 0.2px solid;
    border-radius: 3px;
}

.inputborderhover:hover{
    outline:0.2px solid #2e65ff !important ;
}

.logincenterrightdiv button{
    width: 90px;
    height: 35px;
    border-radius: 50px;
    color: white;
    cursor: pointer;
    float: right;
    margin-top: 40px;
}

.signupform button{
    width: 90px;
    height: 35px;
    border-radius: 50px;
    color: white;
    float: right;
    cursor: pointer;
    margin-top: 20px;

}

.login_main_div .error{
    font-size: 11px;
    letter-spacing: 0.2px;
}