.userpageright {
    width: 35%;
    box-sizing: border-box;
    align-self: flex-start;
}

.userpageleft {
    box-sizing: border-box;
    width: 65%;
}

.userpostsdiv{
    margin-top: 50px;
}

.modifyboxdiv input, .modifyboxdiv textarea{
    border: none;
    outline: none;
}

.modifyboxdiv{
}

.usermaindiv::-webkit-scrollbar{
    display: none;
}
.usermaindiv {
    border: none;
    overflow-y: scroll;
    height: 89vh;
    outline: none;
    margin-top: 38px;
    padding-top: 20px;
    box-sizing: border-box;
}

.errormessage {
    background-image: url("../\(imgs\)/error.png") !important;
    background-size: 100% 100% !important;
    height: 500px;
    width: 700px;
}

.emptypostsmessage{
    background-image: url("https://qsf.fs.quoracdn.net/-4-ans_frontend_assets.images.empty_states.dormant_lightmode.png-26-c4532c98034818a0.png") !important;
    background-size: 100% 100% !important;
    transform: translateX(-20px);
    height: 200px;
    width: 200px;
}

.userPageProfileImg {
    height: 150px;
    width: 150px;
}

.userPageProfileImgsubstitute {
    font-size: 70px !important;
    min-height: 150px !important;
    min-width: 150px !important;
    max-width: 150px !important;
    max-height: 150px !important;
}

.askbuttonuser {
    height: 30px;
    align-self: flex-end;
}

.moredetialspop {
    position: absolute;
    top: 100px;
    height: 500px;
    width: 500px;
    z-index: 1000000000 !important;
    background-color: white;
    box-sizing: border-box;
}

.blackscreen3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.stepBtnMoreDetials span:last-child {
    font-size: 11px;
}

.moredetailstxtupperdiv p {
    align-self: flex-end;
    margin-bottom: 2px;
    letter-spacing: 0.2;
}

.zoomin {
    scale: 1;
    transition: all 0.2s ease-in;
}

.zoomout {
    scale: 0;
    transition: all 0.2s ease-in;
}