@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Noto Sans', sans-serif;
}

.brdrbx{
    box-sizing: border-box !important;
}
.posfix {
    position: fixed !important;
    top: 0 !important;
}

.txtrpnone{
    text-wrap: nowrap !important;
}

.boxshadowlgray {
    box-shadow: 1px 1px 8px lightgray !important
}

.boxshadowblack {
    box-shadow: 1px 1px 8px black !important
}

.flex {
    display: flex !important;
}

.flexj {
    display: flex !important;
    justify-content: center !important;
}

.flexa {
    display: flex !important;
    align-items: center !important;
}

.flexja {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.flexjsb {
    justify-content: space-between !important;
}

.flexc {
    flex-direction: column !important;
}

.g2 {
    gap: 2px !important;
}

.g5 {
    gap: 5px !important;
}

.g10 {
    gap: 10px !important;
}

.g20 {
    gap: 20px !important;
}

.b1 {
    border: 1px solid black !important;
}

.m5 {
    margin: 5px !important;
}

.m10 {
    margin: 10px !important;
}

.m20 {
    margin: 20px !important;
}

.m30 {
    margin: 30px !important;
}

.mt5 {
    margin-top: 5px !important;
}

.mt10 {
    margin-top: 10px !important;
}

.mt20 {
    margin-top: 20px !important;
}

.mt30 {
    margin-top: 30px !important;
}

.ml5 {
    margin-left: 5px !important;
}

.ml10 {
    margin-left: 10px !important;
}

.ml20 {
    margin-left: 20px !important;
}

.ml30 {
    margin-left: 30px !important;
}

.mb5 {
    margin-bottom: 5px !important;
}

.mb10 {
    margin-bottom: 10px !important;
}

.mb20 {
    margin-bottom: 20px !important;
}

.mb30 {
    margin-bottom: 30px !important;
}

.mr5 {
    margin-right: 5px !important;
}

.mr10 {
    margin-right: 10px !important;
}

.mr20 {
    margin-right: 20px !important;
}

.mr30 {
    margin-right: 30px !important;
}

.p5 {
    padding: 5px !important;
}

.p10 {
    padding: 10px !important;
}

.p20 {
    padding: 20px !important;
}

.p30 {
    padding: 30px !important;
}

.pt5 {
    padding-top: 5px !important;
}

.pt10 {
    padding-top: 10px !important;
}

.pt20 {
    padding-top: 20px !important;
}

.pt30 {
    padding-top: 30px !important;
}

.pl5 {
    padding-left: 5px !important;
}

.pl10 {
    padding-left: 10px !important;
}

.pl20 {
    padding-left: 20px !important;
}

.pl30 {
    padding-left: 30px !important;
}

.pb5 {
    padding-bottom: 5px !important;
}

.pb10 {
    padding-bottom: 10px !important;
}

.pb20 {
    padding-bottom: 20px !important;
}

.pb30 {
    padding-bottom: 30px !important;
}

.pr5 {
    padding-right: 5px !important;
}

.pr10 {
    padding-right: 10px !important;
}

.pr20 {
    padding-right: 20px !important;
}

.pr30 {
    padding-right: 30px !important;
}

.logocolor {
    color: #f52936 !important;
}

.fnt10 {
    font-size: 10px !important;
}

.fnt11 {
    font-size: 11px !important;
}

.fnt12 {
    font-size: 12px !important;
}

.fnt13 {
    font-size: 13px !important;
}

.fnt14 {
    font-size: 14px !important;
}

.fnt15 {
    font-size: 15px !important;
}

.fnt16 {
    font-size: 16px !important;
}

.fnt17 {
    font-size: 17px !important;
}

.fnt18 {
    font-size: 18px !important;
}

.fnt19 {
    font-size: 19px !important;
}

.fnt20 {
    font-size: 20px !important;
}

.fnt21 {
    font-size: 21px !important;
}

.fnt22 {
    font-size: 22px !important;
}

.fnt23 {
    font-size: 23px !important;
}

.fnt24 {
    font-size: 24px !important;
}

.fnt25 {
    font-size: 25px !important;
}

.svgfill0 svg{
    fill: #275293 !important;
}

.svgfill1 svg{
    fill: #b1b3b6 !important;
}

.svgfill2 svg{
    fill: #8b8b8a !important;
}

.svgfill3 svg{
    fill: #d5d6d6 !important;
}

.svgfill4 svg{
    fill: #939393 !important;
}

.svgfill5 svg{
    fill: #636466 !important;
}

.svgfill6 svg{
    fill: #8E9092 !important;
}

.svgfill7 svg{
    fill: white !important;
}

.svgfill8 svg{
    fill: black !important;
}

.svgpathfill0 svg path{
    fill: #275293 !important;
}

.svgpathfill1 svg path{
    fill: #b1b3b6 !important;
}

.svgpathfill2 svg path{
    fill: #8b8b8a !important;
}

.svgpathfill3 svg path{
    fill: #d5d6d6 !important;
}

.svgpathfill4 svg path{
    fill: #939393 !important;
}

.svgpathfill5 svg path{
    fill: #636466 !important;
}

.svgpathfill6 svg path{
    fill: #8E9092 !important;
}

.svgpathfill7 svg path{
    fill: white !important;
}

.svgpathfill8 svg path{
    fill: black !important;
}

.svgstroke0 svg{
    stroke: #275293 !important;
}

.svgstroke1 svg{
    stroke: #b1b3b6 !important;
}

.svgstroke2 svg{
    stroke: #8b8b8a !important;
}

.svgstroke3 svg{
    stroke: #d5d6d6 !important;
}

.svgstroke4 svg{
    fill: #939393 !important;
}

.svgstroke5 svg{
    stroke: #636466 !important;
}

.svgstroke6 svg{
    stroke: #8E9092 !important;
}

.svgstroke7 svg{
    stroke: white !important;
}

.svgstroke8 svg{
    stroke: black !important;
}

.svgpathstroke0 svg path{
    stroke: #275293 !important;
}

.svgpathstroke1 svg path{
    stroke: #b1b3b6 !important;
}

.svgpathstroke2 svg path{
    stroke: #8b8b8a !important;
}

.svgpathstroke3 svg path{
    stroke: #d5d6d6 !important;
}

.svgpathstroke4 svg path{
    stroke: #939393 !important;
}

.svgpathstroke5 svg path{
    stroke: #636466 !important;
}

.svgpathstroke6 svg path{
    stroke: #8E9092 !important;
}

.svgpathstroke7 svg path{
    stroke: white !important;
}

.svgpathstroke8 svg path{
    stroke: black !important;
}


.brdr1 {
    border: 1px solid !important;
}

.brdr2 {
    border: 2px solid !important;
}

.brdr3 {
    border: 3px solid !important;
}

.brdr4 {
    border: 4px solid !important;
}

.brdr5 {
    border: 5px solid !important;
}

.brdr6 {
    border: 6px solid !important;
}

.brdr7 {
    border: 7px solid !important;
}

.brdr8 {
    border: 8px solid !important;
}

.brdrl1 {
    border-left: 1px solid !important;
}

.brdrl2 {
    border-left: 2px solid !important;
}

.brdrl3 {
    border-left: 3px solid !important;
}

.brdrl4 {
    border-left: 4px solid !important;
}

.brdrl5 {
    border-left: 5px solid !important;
}

.brdrl6 {
    border-left: 6px solid !important;
}

.brdrl7 {
    border-left: 7px solid !important;
}

.brdrl8 {
    border-left: 8px solid !important;
}

.brdrr1 {
    border-right: 1px solid !important;
}

.brdrr2 {
    border-right: 2px solid !important;
}

.brdrr3 {
    border-right: 3px solid !important;
}

.brdrr4 {
    border-right: 4px solid !important;
}

.brdrr5 {
    border-right: 5px solid !important;
}

.brdrr6 {
    border-right: 6px solid !important;
}

.brdrr7 {
    border-right: 7px solid !important;
}

.brdrr8 {
    border-right: 8px solid !important;
}

.brdrt1 {
    border-top: 1px solid !important;
}

.brdrt2 {
    border-top: 2px solid !important;
}

.brdrt3 {
    border-top: 3px solid !important;
}

.brdrt4 {
    border-top: 4px solid !important;
}

.brdrt5 {
    border-top: 5px solid !important;
}

.brdrt6 {
    border-top: 6px solid !important;
}

.brdrt7 {
    border-top: 7px solid !important;
}

.brdrt8 {
    border-top: 8px solid !important;
}

.brdrb1 {
    border-bottom: 1px solid !important;
}

.brdrb2 {
    border-bottom: 2px solid !important;
}

.brdrb3 {
    border-bottom: 3px solid !important;
}

.brdrb4 {
    border-bottom: 4px solid !important;
}

.brdrb5 {
    border-bottom: 5px solid !important;
}

.brdrb6 {
    border-bottom: 6px solid !important;
}

.brdrb7 {
    border-bottom: 7px solid !important;
}

.brdrb8 {
    border-bottom: 8px solid !important;
}

.txt0 {
    color: #275293 !important;
}

.txt1 {
    color: #b1b3b6 !important;
}

.txt2 {
    color: #8b8b8a !important;
}

.txt3 {
    color: #d5d6d6 !important;
}

.txt4 {
    color: #939393 !important;
}

.txt5 {
    color: #636466 !important;
}

.txt6 {
    color: #8E9092 !important;
}

.txt7 {
    color: white !important;
}

.txt8 {
    color: black !important;
}

.txt9{
    color: #2e69ff !important;
}

.txt10{
    color:#c9c9ca !important;
}

.txtblue{
    color:blue !important;
}
.brdrpureblue{
    border-color: blue !important;
}

.brdrlgray{
    border-color: rgba(128, 128, 128, 0.304) !important;
}

.brdrlightgray {
    border-color: lightgray !important;
}

.brdrllgray {
    border-color: rgba(211, 211, 211, 0.184) !important;
}

.brdrwdth1 {
    border-width: 1px !important;
}

.brdrwdth2 {
    border-width: 2px !important;
}

.brdrwdth3 {
    border-width: 3px !important;
}

.brdrwdth4 {
    border-width: 4px !important;
}

.brdrwdth5 {
    border-width: 5px !important;
}

.brdrwdth6 {
    border-width: 6px !important;
}

.bktransparent{
    background-color: transparent !important;
}
.bklightblack {
    background-color: #262626 !important;
}

.bkblack {
    background-color: #181818 !important;
}

.bkllwhite{
    background-color: #f8f4f4;
}

.bklightwhite {
    background-color: #dee0e1 !important;
}

.bkwhite {
    background-color: white !important;
}

.bklightblue {
    background-color: #2e69ff84 !important;
}

.bkblue {
    background-color: #1471ff !important;
}

.bkblueopacity7{
    background-color: rgba(0, 0, 255, 0.599) !important;

}

.bkblueopacity3 {
    background-color: #EBF0FF !important;
}

.bkpureblue{
    background-color: blue !important;
}

.bkprimary {
    background-color: #f52936 !important;
}

.bkgray {
    background-color: gray !important;
}

.bklightgray {
    background-color: lightgray !important;
}

.bkllgray {
    background-color: rgba(211, 211, 211, 0.119);
}

.csrpntr {
    cursor: pointer !important;
}

.nodrop{
    cursor: no-drop !important;
}

.darkbghvr:hover {
    background-color: rgba(211, 211, 211, 0.893);
}

.bghvr:hover {
    background-color: rgba(211, 211, 211, 0.322);
}

.llbghvr:hover {
    background-color: rgba(211, 211, 211, 0.119);
}

.brdr-r1 {
    border-radius: 1px !important;
}

.brdr-r2 {
    border-radius: 2px !important;
}

.brdr-r3 {
    border-radius: 3px !important;
}

.brdr-r4 {
    border-radius: 4px !important;
}

.brdr-r5 {
    border-radius: 5px !important;
}

.brdr-r6 {
    border-radius: 6px !important;
}

.brdr-r7 {
    border-radius: 7px !important;
}

.brdr-r8 {
    border-radius: 8px !important;
}

.brdr-r9 {
    border-radius: 9px !important;
}

.brdr-r10 {
    border-radius: 10px !important;
}

.brdr-r11 {
    border-radius: 11px !important;
}

.brdr-r12 {
    border-radius: 12px !important;
}

.brdr-r13 {
    border-radius: 13px !important;
}

.brdr-r14 {
    border-radius: 14px !important;
}

.brdr-r15 {
    border-radius: 15px !important;
}

.brdr-r16 {
    border-radius: 16px !important;
}

.brdr-r17 {
    border-radius: 17px !important;
}

.brdr-r18 {
    border-radius: 18px !important;
}

.brdr-r19 {
    border-radius: 19px !important;
}

.brdr-r20 {
    border-radius: 20px !important;
}

.brdr-r50 {
    border-radius: 50px !important;
}

.brdr-r-per {
    border-radius: 50% !important;
}

.w100 {
    font-weight: 100 !important;
}

.w200 {
    font-weight: 200 !important;
}

.w300 {
    font-weight: 300 !important;
}

.w400 {
    font-weight: 400 !important;
}

.w500 {
    font-weight: 500 !important;
}

.w600 {
    font-weight: 600 !important;
}

.w700 {
    font-weight: 700 !important;
}

.w800 {
    font-weight: 800 !important;
}

.w900 {
    font-weight: 900 !important;
}

.w50per {
    width: 50% !important;
}

.w80per {
    width: 80% !important;
}

.w85per {
    width: 85% !important;
}

.w90per {
    width: 90% !important;
}

.w95per {
    width: 95% !important;
}

.w100per {
    width: 100% !important;
}

.h100per {
    height: 100% !important;
}

.iscale08{
    scale: 0.8 !important;
}
.fgrow1{
    flex-grow: 1 !important;
}




/* --------loader css--------- */

.loader {
    color: #FFF;
    position: relative;
    display: inline-block;
    margin-top: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    letter-spacing: 4px;
    box-sizing: border-box;
}

.loader::before {
    content: '';
    position: absolute;
    right: 70px;
    bottom: 10px;
    height: 28px;
    width: 5.15px;
    background: currentColor;
    box-sizing: border-box;
    animation: animloader1 1s linear infinite alternate;
}

.loader::after {
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    left: 125px;
    top: 2px;
    border-radius: 50%;
    background: red;
    box-sizing: border-box;
    animation: animloader 1s linear infinite alternate;
}

@keyframes animloader {
    0% {
        transform: translate(0px, 0px) scaleX(1);
    }

    14% {
        transform: translate(-12px, -16px) scaleX(1.05);
    }

    28% {
        transform: translate(-27px, -28px) scaleX(1.07);
    }

    42% {
        transform: translate(-46px, -35px) scaleX(1.1);
    }

    57% {
        transform: translate(-70px, -37px) scaleX(1.1);
    }

    71% {
        transform: translate(-94px, -32px) scaleX(1.07);
    }

    85% {
        transform: translate(-111px, -22px) scaleX(1.05);
    }

    100% {
        transform: translate(-125px, -9px) scaleX(1);
    }
}

@keyframes animloader1 {
    0% {
        box-shadow: 0 -6px, -122.9px -8px;
    }

    25%,
    75% {
        box-shadow: 0 0px, -122.9px -8px;
    }

    100% {
        box-shadow: 0 0px, -122.9px -16px;
    }
}